* {
    max-width: 100%;
}

main {
    width: 100%;
    height: 2669px;
    background-color: whitesmoke;
}

@media (max-width: 720px) {
    main {
        height: 2894px;
    }
}

@media (max-width: 360px) {
    main {
        height: 2681px;
    }
}

.container-fluid {
    margin-left: 31px;
}

.bg-light {
    background-image: url(imagenes/Quepal.jpg) !important;
}


/* navbar*/


/*navbar*/

#mmeennuu {
    display: none;
}

#mmeennuu:checked~.menu {
    width: 500px;
    border-radius: 5px;
    background-color: transparent;
    border: 3px solid #8bc34a;
    height: 85px;
}

#mmeennuu:checked~.menu>ul {
    display: block;
    opacity: 1;
}

#mmeennuu:checked~.menu>.barry {
    display: none;
}

.menu {
    display: block;
    margin: 30px auto;
    width: 100px;
    height: 100px;
    background-color: #8bc34a;
    border: 3px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

@media (max-width: 360px) {
    #mmeennuu:checked~.menu {
        width: 100%;
        height: 46px;
        /* position: absolute; */
        margin-top: 53px;
    }
    .menu ul li a {
        font-size: 13px !important;
        padding: 13px 14px!important;
    }
    .menu {
        height: 50px;
        width: 40px;
        margin-top: 0px;
        background-color: #00aff0;
    }
}

a#about {}


}
.menu div.barry {
    width: 40px;
    margin: 35px auto;
}
.menu div.barry .bar {
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 3px;
    border-radius: 2px;
    background-color: #fff;
}
.menu ul {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    list-style-type: none;
    padding: 0;
    width: 500px;
    text-align: center;
    margin-bottom: 0;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    background-color: transparent;
    color: #3f51b5;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    border: 3px solid transparent;
    border-radius: 5px;
}
.menu ul li a:hover {
    border-color: #F44336;
}
.menu ul li a:target {
    border-bottom-color: #F44336;
}

/*fin navbar*/
#cuadro {
    position: absolute;
    background-color: #abadac3d;
    height: 441px;
    width: 1015px;
    border-radius: 55px;
}
@media (max-width: 360px) {
    #cuadro {
        width: 315px !important;
        height: 342px;
        margin-left: 24px !important;
    }
}
@media (max-width: 1440px) {
    #cuadro {
        width: 1153px;
        margin-left: 134px;
    }
}
@media (max-width: 1366px) {
    #cuadro {
        width: 1153px;
        margin-left: 98px;
    }
}
@media (max-width: 1350px) {
    #cuadro {
        width: 1070px;
        margin-left: 142px;
    }
}
@media (max-width: 1053px) {
    #cuadro {
        width: 882px;
        margin-left: 77px;
    }
}
@media (max-width: 1025px) {
    #cuadro {
        width: 882px;
        margin-left: 77px;
    }
}
@media (max-width: 991px) {
    #cuadro {
        width: 809px;
    }
}
@media (max-width: 910px) {
    #cuadro {
        width: 758px;
    }
}
@media (max-width: 850px) {
    #cuadro {
        width: 699px;
    }
}
@media (max-width: 794px) {
    #cuadro {
        width: 640px;
    }
}
@media (max-width: 740px) {
    #cuadro {
        width: 621px;
        margin-left: 53px;
    }
}
.caja1 {
    height: 644px;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
}
#imagencaja1 {
    height: 645px;
    width: 100%;
    justify-content: center;
    position: absolute;
}
.textos {
    width: 100%;
    color: white;
    position: relative;
    top: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#textogrande {
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    display: flex;
}
.maquina-escribir {
    background-color: #dca57d;
}
.maquina-escribir::after {
    content: "";
    border-left: wheat;
    right: 0;
    position: absolute;
    animation: maquinaescribir 2s infinite alternate steps(2);
}
@keyframes maquinaescribir {
    from {
        width: 100%;
    }
    
    to {
        width: 0;
    }
}
#text1 {
    font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.9em;
    display: block;
    /* margin-top: -2px; */
}
.botonquien {
    border-width: 10px!important;
    text-decoration: none;
    border-color: #dca57d;
    border-radius: 0px;
    margin-top: 55px;
    letter-spacing: 3px;
    font-size: 15px;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif!important;
    text-transform: uppercase!important;
    background-color: #dca57d;
    color: white;
    padding: 0.9em 1em!important;
}
@media (max-width: 720px) {
    .botonquien {
        display: none;
    }
}
#botones {
    display: flex;
    flex-direction: row;
    /* margin-top: 241px; */
}
.btn-secondary.disabled,
.btn-secondary:disabled {
    background-color: transparent !important;
    border-color: aquamarine;
}
a.btn.disabled,
fieldset:disabled a.btn {
    width: 73px !important;
}
#espacio {
    margin-bottom: 58px;
    margin-block-start: 18px;
}
#down {
    background-color: transparent !important;
    position: relative;
    top: 201px;
    border-bottom-color: transparent;
    margin-left: 47%;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    background-color: #111;
}
.title {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 1px;
}
h6 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 98px;
    line-height: 0.75;
    margin: 10px;
}
@media (max-width: 1053px) {
    h6 {
        font-size: 123px;
    }
}
@media (max-width: 755px) {
    h6 {
        font-size: 76px;
    }
}
@media (max-width: 485px) {
    h6 {
        font-size: 58px;
    }
}
@media (max-width: 375px) {
    h6 {
        font-size: 51px;
    }
}

/* styling my button */
.white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #FFF;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: "Montserrat";
}
.white-mode:hover {
    background-color: #FFF;
    color: #122;
}

/*-----------------FIN CAJA 1 ---------------------*/
#caja2 {
    width: min(45%, 600px);
    /* opacity: 0; */
    
    margin-left: 28%;
    position: absolute;
    height: 579px;
    top: 814px;
}
@media (max-width: 360px) {
    #caja2 {
        height: 278px !important;
        margin-top: -31px;
    }
}
@media (max-width: 720px) {
    #caja2 {
        height: 446px;
    }
}
.centrado2 {
    width: 100%;
    color: dimgrey;
    font-size: 43px;
    font-family: fangsong;
    padding-left: 34%;
}
@media (max-width: 360px) {
    .centrado2 {
        font-size: 21px !important;
        margin-left: -13px !important;
        margin-block: 3px !important;
        margin-top: 20px !important;
    }
}
@media (max-width: 1053px) {
    .centrado2 {
        font-size: 33px;
        margin-top: -21px;
    }
}
@media (max-width: 1366px) {
    .centrado2 {
        font-size: 55px;
        margin-top: -21px;
        margin-left: -36px;
    }
}
@media (max-width: 720px) {
    .centrado2 {
        font-size: 37px;
        margin-top: 46px;
        margin-left: -22px;
    }
}

/* presentacion */
#poscolores {
    height: 780px;
}
@media (max-width: 720px) {
    #poscolores {
        height: 428px;
    }
}
h3 {
    font-family: 'Courgette', cursive;
    ;
    color: dimgrey;
    line-height: 43px;
    text-align: -webkit-center;
    /* position: static; */
}
@media (max-width: 360px) {
    h3 {
        font-size: 10px !important;
        font-family: fangsong;
        line-height: 13px !important;
    }
}
@media (max-width: 1053px) {
    h3 {
        font-size: 22px;
    }
}
@media (max-width: 1366px) {
    h3 {
        font-size: 33px;
    }
}
@media (max-width: 991px) {}
@media (max-width: 720px) {
    h3 {
        font-size: 15px;
        line-height: 24px;
    }
}
@media (max-width: 575px) {}
.centrado3 {
    width: 100%;
    color: dimgrey;
    font-size: 43px;
    font-family: fangsong;
    padding-left: 70%;
}
@media (max-width: 360px) {
    .centrado3 {
        font-size: 38px !important;
        margin-left: -26px;
        margin-top: 12px !important;
    }
}
@media (max-width: 360px) {
    #botonmover {
        background-image: url(imagenes/flecha-doble.png);
    }
}
.centrado4 {
    width: 58%;
    color: dimgrey;
    font-size: 45px;
    margin-top: 10px;
    padding-left: 16%;
}
@media (max-width: 360px) {
    .centrado4 {
        padding-left: 28%;
    }
}
.centradoh {
    width: 95%;
    color: dimgrey;
    font-size: 45px;
    margin-top: 10px;
    padding-left: 43%;
}
@media (max-width: 360px) {
    .centradoh {
        font-size: 29px !important;
        margin-left: 10px!important;
    }
}
@media (max-width: 720px) {
    .centradoh {
        font-size: 32px;
        margin-left: -39px;
    }
}

/*------------------------------fin caja 2-----*/

/*caja 3*/
@media (max-width: 1440px) {
    #caja3 {
        margin-top: 116px;
    }
}
@media (max-width: 1366px) {
    #caja3 {
        margin-top: 76px;
        height: 422px;
    }
}
.centrado {
    width: 100%;
    color: dimgrey;
    font-size: 43px;
    font-family: 'Courgette', cursive;
    padding-left: 42%;
}
.g-4,
.gx-4 {
    --bs-gutter-x: -6.5rem !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent !important;
    background-clip: border-box;
    border: 0 !important;
    border-radius: .25rem;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
@media (max-width: 1366px) {
    #minicartas {
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width: 360px) {
    #minicartas {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    h2 {
        font-size: 9px !important;
    }
}
#ola {
    height: 83px;
    overflow: hidden;
}
#ola2 {
    height: 100%;
    width: 100%;
    background-image: url(imagenes/Quepal2.jpg) !important;
}

/* prueba girar */
.contenedor2 {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor_tarjeta {
    margin: 20px;
}
.contenedor_tarjeta a {
    display: inline-block;
}
.contenedor_tarjeta:hover figure {
    transform: perspective(600px) rotateY(180deg);
    -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}
.contenedor_tarjeta:hover figure img {
    /* Si queremos podemos aplicar un efecto blur a nuestra imagen al girar */
    /*filter:blur(2px);*/
}
figure {
    width: 102px;
    height: 104px;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}
@media (max-width: 360px) {
    figure {
        width: 66px;
        height: 60px;
    }
}
figure .frontal,
figure .trasera {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s;
}
figure .frontal {
    display: block;
    background: transparent;
}
figure .trasera {
    position: absolute;
    top: 0;
    padding: 20px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
}
.contenedor_tarjeta:nth-child(1) figure .trasera {
    background: rgba(223, 234, 241, 0.7);
    background: -moz-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, rgb(162, 245, 151) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(153, 238, 128, 0.7)), color-stop(100%, rgba(15, 99, 144, 1)));
    background: -webkit-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, rgb(53, 170, 53) 100%);
    background: -o-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, rgb(55, 161, 69) 100%);
    background: -ms-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, rgb(27, 134, 63) 100%);
    background: linear-gradient(to bottom, rgba(223, 234, 241, 0.7) 0%, rgb(28, 131, 41) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0);
}
figure .trasera .titulo {
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
figure .trasera hr {
    height: 2px;
    background: #fff;
    border: none;
    margin-bottom: 20px;
    opacity: .5;
}
figure .trasera p {
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    font-size: 14px;
}
@media screen and (max-width: 992px) {
    figure .trasera {
        /*position: relative;*/
        backface-visibility: visible;
        transform: perspective(600px) rotateY(0deg);
    }
    
    .contenedor_tarjeta:hover figure {
        transform: perspective(600px) rotateY(0deg);
    }
}

/* -------------------PROYECTOS -------------------------*/
section#proyec {
    background-color: #f3f3f3;
}
#proyecto {
    background-color: whitesmoke;
}
@media (max-width: 1366px) {
    #proyec {
        margin-top: 100px;
    }
}
@media (max-width: 360px) {
    #proyec {
        margin-top: -3px;
    }
}
@media (max-width: 720px) {}

/* contacto */
input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}
.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}
@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}
.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}
.styled-input.wide {
    width: 650px;
    max-width: 100%;
}
input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}
input:focus,
textarea:focus {
    outline: 0;
}
input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}
textarea {
    width: 100%;
    min-height: 15em;
}
.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}
.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #3b7ce1;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}
@media (max-width: 768px) {
    .submit-btn {
        width: 100%;
        float: none;
        text-align: center;
    }
}
input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
}
input[type=checkbox]:checked+label {
    color: #8bc34a;
    font-style: normal;
}
a.btn.btn-primary.mb-3.mr-1 {
    background-image: url(imagenes/flecha-correcta.png) !important;
    width: 27px;
    height: 28px;
    margin-left: -53px;
    background-color: transparent;
}
a.btn.btn-primary.mb-3 {
    /* background-image: url(imagenes/flecha-izquierda.png) !important; */
    
    background-color: transparent;
    margin-right: 56px;
}
a.btn.btn-primary.mb-3 {}
.col-11 text-right {
    display: flex;
}
@media (max-width: 360px) {
    #mover {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

/* footer */
footer {
    background-image: url(imagenes/Quepal.jpg);
    display: flex;
    height: 780px;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;
}
@media (max-width: 360px) {
    footer {
        margin-top: 71px;
        height: 921px;
    }
}
@media (max-width: 720px) {
    footer {
        margin-top: 10px;
    }
}
@media (max-width: 1440px) {
    footer {
        margin-top: 56px;
    }
}
@media (max-width: 1366px) {
    footer {
        margin-top: 15px;
    }
}
@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
    top: 90%;
    left: -110%;
}
.social-btns .btn .fa {
    transform: scale(0.8);
}
.social-btns .btn.facebook:before {
    background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
    color: #3b5998;
}
.social-btns .btn.twitter:before {
    background-color: #3cf;
}
.social-btns .btn.twitter .fa {
    color: #3cf;
}
.social-btns .btn.google:before {
    background-color: #dc4a38;
}
.social-btns .btn.google .fa {
    color: #dc4a38;
}
.social-btns .btn.dribbble:before {
    background-color: #f26798;
}
.social-btns .btn.dribbble .fa {
    color: #f26798;
}
.social-btns .btn.skype:before {
    background-color: #00aff0;
}
.social-btns .btn.skype .fa {
    color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
    color: #fff;
    transform: scale(1);
}
.social-btns {
    /* height: 90px; */
    /* margin: auto; */
    /* margin-top: 28px; */
    /* font-size: 0; */
    /* text-align: center; */
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
}
.social-btns .btn {
    display: inline-block;
    background-color: transparent;
    width: 75px;
    height: 90px;
    line-height: 90px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;
}
.social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    transform: rotate(45deg);
}
.social-btns .btn .fa {
    font-size: 38px;
    vertical-align: middle;
}

/*boton send*/

/* animacion programadora */
div#animacionchica {
    margin-left: 568px !important;
    margin-top: -280px !important;
}
@media (max-width: 360px) {
    lottie-player#animarchica {
        margin-left: -274px;
        margin-top: 113px;
    }
}
@media (max-width: 360px) {
    #poschica {
        width: 306px;
        height: 330px;
    }
}
@media (max-width: 1053px) {
    #poschica {
        margin-right: 88px;
    }
}
@media (max-width: 970px) {
    #poschica {
        margin-right: 88px;
    }
}
@media (max-width: 890px) {
    #poschica {
        margin-right: 220px;
    }
}
@media (max-width: 940px) {
    #poschica {
        margin-right: 220px;
        margin-top: 17px;
    }
}
@media (max-width: 874px) {
    #poschica {
        margin-right: 302px;
        margin-top: 30px;
    }
}
@media (max-width: 832px) {
    #poschica {
        margin-right: 390px;
        margin-top: 30px;
    }
}
@media (max-width: 788px) {
    #poschica {
        margin-right: 483px;
        margin-top: 48px;
    }
}
@media (max-width: 667px) {
    #poschica {
        margin-right: 639px;
        margin-top: 100px;
    }
}
@media (max-width: 640px) {
    #poschica {
        margin-right: 725px;
        margin-top: 105px;
    }
}
#pos {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    
    align-items: center;
}
#animacionmsj {
    display: flex;
    margin-left: -863px;
    margin-top: -794px;
}
@media (max-width: 360px) {
    #animacionmsj {
        margin-left: -189px !important;
        margin-top: -938px !important;
    }
}
@media (max-width: 720px) {
    #animacionmsj {
        margin-left: -357px;
        margin-top: -970px;
    }
}
#pc {
    margin-left: 281px;
    position: absolute;
    margin-top: -95px;
}
@media (max-width: 360px) {
    #pc {
        margin-left: -42px !important;
    }
}
@media (max-width: 1053px) {
    #pc {
        margin-left: 205px;
    }
}
@media (max-width: 1366px) {
    #pc {
        margin-left: 311px;
    }
}
@media (max-width: 720px) {
    #pc {
        margin-left: 200px;
    }
}

/* flechas slider*/
.text-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* medidas */
@media (max-width: 1025px) {
    #pc {
        margin-top: -116px;
        margin-left: 49px;
    }
}
@media (max-width: 991px) {}
@media (max-width: 768px) {}
@media (max-width: 575px) {}